<!DOCTYPE html>
<html>
  <center>
    <head></br>
      <meta charset="utf-8">
      <title>View Requestes</title></br>
      <link rel='stylesheet' type='text/css' href='../public/stylesheets.css' >
    </head>
    <body >
      <form action="/request/view" method="post">
        <input type="text" name="owneremail" placeholder="Owner Email">
        <input type="submit" name="viewrequests" value="See Requests">
      </form>
    </body>
  </center>
</html>
