<!DOCTYPE html>
<html>
  <head>
    <center>
    <meta charset="utf-8">
    <title>My Properties</title>
  </head>
  <body>
    <h2>My Properties</h2></br>
    <% @properties.each do |property| %>
    <%= property.id.to_s + ', ' %>
    <%= property.name + ', '  %>
    <%= property.description + ', ' %>
    <%= '£' + property.price.to_s %>
  </br>
    <% end %></br>
    <form action="/property/remove" method="post">
      <input type="text" name="remove_property_name" placeholder="property name"></br>
      <input type=submit name=remove_property value="Remove">
    </form></br>
    
    <form action="/home" method="get">
      <input type="submit" name="homepage" value="Back to Homepage">
    </form>
    <center>
  </body>
</html>
