<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>View Requestes</title>
  </head>
  <body>
    <form action="/request/view" method="post">
      <input type="text" name="owneremail" placeholder="Owner Email">
      <input type="submit" name="viewrequests" value="See Requests">
    </form>
  </body>
</html>
