<!DOCTYPE html>
<html>
  <center>
    <head></br>
      <h1>Welcome to MakersBnB</h1></br>
      <link rel='stylesheet' type='text/css' href='stylesheets.css' >
    </head>
    <body background="white.jpg">

      <form method='get' action='/properties'>
        <button name='enter' class="button" type='submit' value='Enter'>I want to rent a property</br>
      </form></br>
        <form method='get' action='/property/new'>
        <button name='enter' class="button" type='submit' value='Enter'>I want to let a property</br>
      </form></br>
    </body>

  </center>
</html>
