<!DOCTYPE html>
<html>
  <center>
    <head></br>
      <h1>Welcome to MakersBnB</h1></br>
      <link rel='stylesheet' type='text/css' href='../public/stylesheets.css' >
    </head>
    <body background="white.jpg">
      <form method='get' action='/properties'>
        User email: <input type='text' name='user_email' placeholder='your email here'>
        User password: <input type='text' name='user_password' placeholder='your password here'>
        <input type='submit' id='traveller_enter' value='Enter'></br>
      </form></br>
        <form method='get' action='/property/new'>
        Owner email: <input type='text' name='owner_email' placeholder='your email here'>
        Owner password: <input type='text' name='owner_password' placeholder='your password here'>
        <input type='submit' id='owner_enter' value='Enter'></br>
      </form></br>
    </body>
  </center>
</html>
