<html>
  <form method='post' >
  User email: <input type='text' name='user_email' placeholder='your email here'>
  User password: <input type='text' name='user_password' placeholder='your password here'>
  <input type='submit' id='enter' value='Enter'
</form>
</html>
