<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New property</title>
  </head>
  <body>

    <form action="/property/new" method="post">
      <input type="text" name="name" placeholder="Name">
      <input type="text" name="description" placeholder="Description">
      <input type="text" name="price" placeholder="Price">
      <input type="text" name="email" placeholder="Email">
      <input type="submit" name="post" value="Post">
    </form>

  </body>
</html>
