<!DOCTYPE html>
<html>
  <head>
    <center>
    <meta charset="utf-8">
    <title>New property</title>
    <!-- <link rel='stylesheet' type='text/css' href='href link to file' > -->
  </head>
  <body>
    <h2>Add New Property</h2></br>
    <form action="/property/new" method="post">
      <input type="text" name="name" placeholder="Name">
      <input type="text" name="description" placeholder="Description">
      <input type="text" name="price" placeholder="Price">
      <input type="text" name="email" placeholder="Email"></br></br>
      Select start date: <input type="date" name="start_date">
      Select end date: <input type="date" name="end_date">
      <input type="submit" name="post" value="Post">
    </form>
    <p style='color:red'> <%= flash[:error_message]%></p>
    <p style='color:green'> <%= flash[:confirmation_message]%></p>


    <form action="/request/view" method="get">
      <input type="submit" name="request_manger" value="Go to Requests" >
    </form>
    <form action="/property/filter" method="get">
      <input type="submit" name="property_manger" value="Go to Listed Properties" >
    </form></br>
    <form action="/home" method="get">
      <input type="submit" name="homepage" value="Back to Homepage">
    </form>
    <form method='post' action='/users/session'>
     <input type='hidden' name='_method' value='delete'>
     <input type='submit' value='Sign Out'>
   </form>
  </body>
</center>
</html>
