<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New property</title>
    <!-- <link rel='stylesheet' type='text/css' href='href link to file' > -->
  </head>
  <body>

    <form action="/property/new" method="post">
      <input type="text" name="name" placeholder="Name">
      <input type="text" name="description" placeholder="Description">
      <input type="text" name="price" placeholder="Price">
      <input type="text" name="email" placeholder="Email">
      Select Availability: <input type="date" name="date">
      <input type="submit" name="post" value="Post">
    </form>
        <p style='color:red'> <%= flash[:price_error]%></p>
  </body>
</html>
