<!DOCTYPE html>
<html>
  <head>
    <center>
    <meta charset="utf-8">
    <title>Filter Properties</title>
  </head>
  <body>
    <h2>Filter Properties</h2></br>
    <form action="/property/my-properties" method="post">
      <input type="email" name="email" placeholder="Enter Email">
      <input type="submit" name="submit" value="Submit">
    </form>
    <center>
      <form method='post' action='/users/session'>
       <input type='hidden' name='_method' value='delete'>
       <input type='submit' value='Sign Out'>
     </form>
  </body>
</html>
