<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Filter Properties</title>
  </head>
  <body>
    <form action="/property/my-properties" method="post">
      <input type="email" name="email" placeholder="Enter Email">
      <input type="submit" name="submit" value="Submit">
    </form>

  </body>
</html>
