<!DOCTYPE html>
<html>
  <center>
    <head>
      <meta charset="utf-8">
      <title>New request</title>
    </head>
    <body>

      <form action="/request/new" method="post">
        <input type="text" name="property_id" placeholder="Property ID">
        <input type="text" name="traveller_name" placeholder="Traveller name">
        <input type="email" name="traveller_email" placeholder="Traveller Email">
        <input type="text" name="date" placeholder="Date">
        <input type="submit" name="submit" value="Submit request">
      </form>
        <p style='color:red'> <%= flash[:error_message]%></p>
    </body>
  </center>
</html>
