<!DOCTYPE html>
<html>
  <head>
    <center>
    <meta charset="utf-8">
    <title>Welcome to MakersBnB</title>
  </head>
  <body>
    <h1> Please sign up below with an email and password </h1>
      <form action="/users/new" method="post">
        <input type="text" name="email_sign_up" placeholder="Email">
        <input type="text" name="password_sign_up" placeholder="Password">
        <input type="text" name="mobile_number" placeholder="mobile number">
        <input type="submit" value="Sign Up">
      </form>
      <h1>Please sign in with an email and password </h1>
      <form action="/users/session" method="post">
        <input type="text" name="email_in" placeholder="Email">
        <input type="text" name="password_in" placeholder="Password">
        <input type="submit" value="Sign In">
      </form>
  </center>
  </body>
</html>
