<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%@approved_request.each do |request| %>
    <%= request.id  %>
    <% end  %>
    <%= @Akjhg %>
  </body>
</html>
