<!DOCTYPE html>
<html>
  <center>
    <head>
      <meta charset="utf-8">
      <title>View Requests</title>
      <link rel='stylesheet' type='text/css' href='../public/stylesheets.css' >
    </head>
    <body backround=''>

      <h2>Requests</h2></br>

      <form  action="/request/accepted" method="post">  <!--  Confirm request need to be integrated   -->
      <input type="text" name="request_id_confirmed" placeholder= "id to confirm request" >
      <input type="submit" name="confirm_request" value="Accept Request" >
      </form></br>

      <form  action="/request/declined" method="post">  <!--  Confirm request need to be integrated   -->
      <input type="text" name="request_id_declined" placeholder= "id to decline request" >
      <input type="submit" name="decline_request" value="Decline Request" >
      </form></br>

      <% @requests.each do |request| %>
      <%=  request.id.to_s + ", " %>
      <%=  request.name + ", " %>
      <%=  request.email + ", " %>
      <%=  request.date %> </br>
      <% end %>

      <form method='post' action='/users/session'>
       <input type='hidden' name='_method' value='delete'>
       <input type='submit' value='Sign Out'>
     </form>
    </body>
  </center>
</html>
