<!DOCTYPE html>
<html>
  <center>
    <head></br>
      <meta charset="utf-8">
      <title>View Requests</title></br>
      <link rel='stylesheet' type='text/css' href='../public/stylesheets.css' >
    </head>
    <body backround=''>
      <% @requests.each do |request| %>
      <%=  request.name + ", " %>
      <%=  request.email + ", " %>
      <%=  request.date %>
      <% end %>
    </body>
  </center>
</html>
