<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>View Requests</title>
  </head>
  <body>
    <% @requests.each do |request| %>
    <%=  request.name + ", " %>
    <%=  request.email + ", " %>
    <%=  request.date %>
    <% end %>
  </body>
</html>
