<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome</title>
  </head>
  <body>
    <h2> You are now a member of MakersBnB, account: <%= @current_user.email %> </h2>

    <form method='post' action='/users/session'>
     <input type='hidden' name='_method' value='delete'>
     <input type='submit' value='Sign Out'>
   </form>
   <form action="/home" method="get">
     <input type="submit" name="homepage" value="Go to Homepage">
   </form>
  </body>
</html>
